.contributor-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .contributor-card a {
    display: flex;
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Inherit text color from parent */
  }
  
  .contributor-card:hover {
    background-color: #828282; /* Change background color on hover */
  }
  
  .contributor-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .contributor-info h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .contributor-info p {
    margin: 5px 0;
    font-size: 14px;
  }
